.red {
    background-color: red;
}
.redActivo {
  box-shadow: 0 0 10px 8px #ff7272;
  transform: scale(0.97);
}
.yellowActivo {
  box-shadow: 0 0 10px 8px #8f8d2d;
  transform: scale(0.97);
}
.greenActivo {
  box-shadow: 0 0 10px 8px #74ff7f;
  transform: scale(0.97);
}
.purpleActivo {
  box-shadow: 0 0 20px 5px #a0218b;
  transform: scale(0.97);
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.purple {
    background-color: purple;
}
.lights {
    width: 120px;
    height: 120px;
}